.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  background: rgba(255,255,255, 0.9);
  box-shadow: 0 10px 10px rgba(0,0,0, 0.1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding: 0 30px;
  z-index: 200;
}

.logo_img {
  width: 40px;
  margin-right: 15px;
}

.logo_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

}