@import "../../assets/colors";

.login_form {
  width: 50%;
  min-width: 300px;
  max-width: 400px;

  box-sizing: border-box;
  padding: 40px 30px;

  background: white;
  border-radius: 5px;
  border: solid 1px #e0e0e0;
}




.error_message {
  height: 15px;
  font-size: 14px;
  margin-bottom: 30px;
  color: red;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.link {
  width: 100%;
  text-align: center;
  color: #349eed;
}