@import "../../assets/fonts";

.drop_down {
  position: absolute;

  top: 100%;
  right: 0;
  width: 200px;
  height: 100px;

  background: white;
  border: solid 1px #c0c0c0;
  box-sizing: border-box;
  padding: 20px;

  font-family: $font-family;
}

.user_info {
  position: relative;
}